{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "8",
          "chrome": "58",
        },
        "useBuiltIns": "usage",
      },
    ]
  ],
  "plugins": [
    "transform-vue-jsx",
    ["@babel/plugin-proposal-decorators", { 
      "legacy": true 
    }], 
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ]
}